In [1]:
import pandas as pd
import numpy as np
import time

In [2]:
df = pd.read_csv('data/household_power_consumption.zip', sep=';', na_values=['?'])
df.head()

,Date,Time,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
0,16/12/2006,17:24:00,4.216,0.418,234.84,18.4,0.0,1.0,17.0
1,16/12/2006,17:25:00,5.360,0.436,233.63,23.0,0.0,1.0,16.0
2,16/12/2006,17:26:00,5.374,0.498,233.29,23.0,0.0,2.0,17.0
3,16/12/2006,17:27:00,5.388,0.502,233.74,23.0,0.0,1.0,17.0
4,16/12/2006,17:28:00,3.666,0.528,235.68,15.8,0.0,1.0,17.0

In [3]:
df = df.dropna(axis=0, how='any')
print('Total rows', len(df))

Total rows 2049280

Iterate over data frame and calculate average residual active energy (see https://archive.ics.uci.edu/ml/datasets/Individual+household+electric+power+consumption)

In [4]:
start = time.time()
tot_residual = 0
for idx, row in df.iterrows():
    gap = row['Global_active_power']
    tot_residual += (gap * 1000/60 - row['Sub_metering_1'] - row['Sub_metering_2'] - row['Sub_metering_3'])
avg_residual = tot_residual / len(df)
elapsed1 = time.time() - start
print(avg_residual, elapsed1)

9.314693306921193 141.24268531799316

Now calculate again but this time using itertuples. This simply returns the row tuple without boxing it into a Series. Columns are accessed using numbers starting from 1 (duh)

In [5]:
IDX_GLOBAL = 3
IDX_SUB_METER_1 = 7
IDX_SUB_METER_2 = 8
IDX_SUB_METER_3 = 9

start = time.time()
tot_residual = 0
for row in df.itertuples():
    gap = row[IDX_GLOBAL]
    tot_residual += (gap * 1000/60 - row[IDX_SUB_METER_1] - row[IDX_SUB_METER_2] - row[IDX_SUB_METER_3])
avg_residual = tot_residual / len(df)
elapsed2 = time.time() - start
print(avg_residual, elapsed2)

9.314693306921193 2.1055757999420166

Calculate % performance gain

In [6]:
100*(elapsed1-elapsed2)/elapsed1

98.50924966825607