In [1]:
import pandas as pd
import datetime

In [2]:
ds = pd.read_csv('data/data.tsv', sep='\t')
ds.head()

          x           y
0  6.721717  127.062636
1  6.574377  118.477561
2  3.462188   30.349628
3  4.730927   75.397641
4  4.448219   60.288103

In [3]:
ds = ds.assign(name='Dijkstra', age=87, etl_timestamp=datetime.datetime.utcnow())
ds.head()

          x           y  age              etl_timestamp      name
0  6.721717  127.062636   87 2017-12-30 06:36:10.639664  Dijkstra
1  6.574377  118.477561   87 2017-12-30 06:36:10.639664  Dijkstra
2  3.462188   30.349628   87 2017-12-30 06:36:10.639664  Dijkstra
3  4.730927   75.397641   87 2017-12-30 06:36:10.639664  Dijkstra
4  4.448219   60.288103   87 2017-12-30 06:36:10.639664  Dijkstra